.card_recipe{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}


.cardWrapper{
    border: 1px solid red;
    width: 50%;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap:10px;
    color: orange;

}

.cardWrapper img{
    width: 100%;
    border-radius: 10px;
}

.cardWrapper button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: orange;
    color: black;
    cursor: pointer;
}

.cardWrapper button:hover{
    background-color: red;
    color: orange;
}