
.detailWrapper img{
    display: flex;
    flex-direction: column;
}

.imgWrapper img{
    width: 150px;
}

.mealImage img{
    width: 150px;
}


.bottomWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.nutWrapper{
    padding: 10px;
    background-color: black;
    color: orange;
    width: 250px;
    border-radius: 10px;
}

.ingWrapper{
    padding: 10px;
    background-color: black;
    color: orange;
    width: 250px;
    border-radius: 10px;
}

.mealImage{
    padding: 10px;
    background-color: black;
    color: orange;
    width: 250px;
    border-radius: 10px;
}



